header {
    background-color: rgba(201, 128, 137, 0.575) 
}

.th {
    background-color: gainsboro;
}
.linkUpdate {
    background-color: rgba(195, 247, 229, 0.445);
}
.h5Update{
    background-color:rgb(240, 235, 235);
    padding: 0.8rem;
}
.formUpdate{
    padding: 0.8rem;
}

